<h5 class="container"> <small>Search for</small> "<%= params[:q] %>" <small>returned</small> <%= @results.to_a.count %> <small>results<small></h5>

<div class="sresult table table-striped" >
  <% @results.find_each do |document| %>
  <div class="container search_result_item">
  <h4 class="lead"><%= document.searchable.title%></h4>
  <%= image_tag document.searchable.image, size: "64" %>
  <p class=""><%= document.searchable.details %></p>
  <p><%= link_to  "...more on " + document.searchable.title, document.searchable %> </p>
  </div>
<% end %>
</div>

