<h2> Your search returned <%= @results.to_a.count %> results</h2>

<div class="sresult" >
<% @results.each do |result| %>
  <h3><%= link_to result.title, result %></h3>
  <%= image_tag result.image, size: "64" %>
  <h5><%= result.details %></h5>
  <h4><%= link_to  "... go to " + result.title  , result %></h4>
<% end %>
</div>

