<%- model_class = Item -%>

<div class="page-header">
  <h1><%=t '.title', :default =>@item.title %></h1>
</div>

<!-- begin detail item view (_@item.html.erb) -->
<div class="container-full col-md-8 col-md-offset-2">

<!-- Price, title and sku -->
    <%= image_tag @item.image_url.to_s, size:"300" %>
    <div class="top-lines">
      <h3><%= @item.title %> <small class="sku"><%= "(#{@item.piggybak_sellable.sku})" rescue " " %></small></h3>
      <div class="price lead right" > $<%= @item.price%> </div>
    </div>

    <!-- Item details paragraph -->
    <div class="text left" style="margin-bottom: 10px; margin-top: 10px;">
    <%= @item.details %>
    </div>
    
       <!-- Symptoms -->
    <% if @item.symptoms.count > 0 %>
    <div class="symptoms left" >
    <div class="title" >Used to address</div>
    <% @item.symptoms.all.each { |symp| %>
      <a href="<%= url_for(symp) %>" type="button" class="label label-default" style="margin:2px; color:#FFFFFF;">
        <%= symp.title %>
      </a>
    <% } %>
    </div> 
    <br/> 
    <%end%>

    <!-- Benefits 7 other information: (Tags) -->
    <% if @item.tags.count > 0 %>
    <div class="tags left" >
    <div class="title" >Other Benefits </div>
    <% @item.tags.all.each { |tag| %>
      <a href="<%= url_for(tag) %>" type="button" class="label label-default" style="margin:2px; color:#FFFFFF;">
        <%= tag.title %>
      </a>
    <% } %>
    </div>
    <%end%>

<div id="cart_form" style="margin-top: 20px;">
    <%= cart_form(@item) %>
</div>

</div>
<!-- end detail item view -->