<!DOCTYPE html>
<html>
<head>
  <title>Herbonline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- manual overrides - mostly development css in transition -->
<style>

/* start cart buttons on all pages*/
.cart_light a { padding:5px; font-weight:bold; }
.cart_light a:link { color:#ffffff;}
.cart_light a:visited { color:#ffffff; }
.cart_light a:hover { color:#ffffff; }
.cart_light a:active { color:#f0f0f0;}
/* end cart buttons on all pages*/ 

/* start footer related css */
html, body { height: 100%; }
#wrap { height: auto !important; margin: 0 auto -60px; min-height: 100%; }
#push, #footer { height: 60px; margin-top: 50px; }
#footer { background-color: #f5f5f5; }
@media (max-width: 767px) {
  #footer { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px;}
}
.container { max-width: 680px; width: auto;}
.container .credit { margin: 20px 0; }
/* start footer related css */

</style>

</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
      
      <span class="cart btn-lg btn-info cart_light" style="float:right;">
      <% if current_user -%>
        <%= link_to 'LOGOUT', main_app.destroy_user_session_path, :method => :delete, :class => "last" %>
      <% else -%>
         <%= link_to 'LOG IN', main_app.new_user_session_path %>
      <% end -%>
      </span>

      <span class="cart btn-lg btn-info cart_light" style="float:right;" > <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <%= cart_link %><%= orders_link("Order History") %> 
      
      

      </span> 
  </nav>



  <%= notice %>
  <%= alert %>

<div id="content" style="margin-left:25px;margin-right:25px;">
<%= yield %>


<%= render partial: "layouts/footer" %>

</div>

</body>
</html>
